{% extends 'layouts/app.twig' %}
{% block title %}Register{% endblock %}
{% block pageclass %}register{% endblock %}

{% block content %}

<section class="register admin">
    <div class="register__container container">
        <h2>Register</h2>
        <form action="{{ path_for('register') }}" method="post" class="form login-form">
            <label for="name">Name</label>
            <input type="text" name="name" required>
            <label for="email">Email</label>
            <input type="email" name="email" required>
            <label for="password">Password</label>
            <input type="password" name="password" required>
            <button class="button submit">Register</button>
        </form>

    </div>
</section>

{% endblock %}