<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Viewport Meta -->

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Styles -->

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/app.css">

    <!-- Mobile Theme Colour -->

    <meta name="theme-color" content="#29ba47">

    <!-- Title and Description -->

    <title>Computers for Kids | {% block title %}{% endblock %}</title>
    <meta name="description" content="{% block pagedesc %}C.A.W. Local 200 Computers For Kids - where a stronger community is just a click away!{% endblock %}">
    <meta name="keywords" content="kids, computers, computers for kids, e-waste, community, c.a.w. local 200, after school programs, summer programs, children in need, {% block pagekeys %}{% endblock %}">

    <!-- Favicons -->

    <link rel="icon" href="/assets/img/fav.png">
    
    <!-- Open Graph -->

    <meta property="og:title" content="{% block pageogtitle %}Computers for Kids Windsor{% endblock %}">
    <meta property="og:description" content="{% block pageogdesc %}C.A.W. Local 200 Computers For Kids - where a stronger community is just a click away!{% endblock %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="computersforkids.ca">
    <meta property="og:site_name" content="Computers for Kids Windsor">
    <meta property="og:image" content="{% block pageogimage %}/assets/img/og.jpg{% endblock %}">
    

    <!--[if lt IE 9]>
     <script src="js/polyfill/html5-shiv.js"></script>
  <![endif]-->

    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
    {% include 'partials/off-canvas.twig' %}
    {% include 'partials/admin-off-canvas.twig' %}
    <div class="{% block pageclass %}{% endblock %}" id="app">
        <div class="content">
            {% include 'partials/flash.twig' %}
            {% include 'partials/overlay.twig' %}
            {% block content %}{% endblock %}
        </div>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBqLu5n6YnKCI8OCTXT7Bup5IXdoYDqXY"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/assets/js/app.js"></script>

    {# Mister Sandman...sand me a man... #}
</body>
</html>
